<div class="container">
  <div class="row">
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <h5 class="card-title">Add Role</h5>
        <input type="text" #addRoleModel class="form-control" id="addRoleId" aria-describedby="emailHelp"
               placeholder="Enter Role">
        <button class="btn btn-primary" (click)="addRole(addRoleModel.value); addRoleModel.value=''">Add Role</button>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <h5 class="card-title">Delete Role</h5>
        <input type="text" class="form-control" id="deleteRole" aria-describedby="emailHelp"
               placeholder="Enter Role" #deleteRoleModel>
        <button class="btn btn-primary" (click)="deleteRole(deleteRoleModel.value); deleteRoleModel.value=''">Delete Role</button>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <h5 class="card-title">Delete All Roles</h5>
        <button class="btn btn-primary" (click)="deleteAllRole()">Delete All Roles</button>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Admin Permission</h5>
          <div *ngxPermissionsOnly="['ADMIN']">
            <div *ngFor="let product of products">
              <p class="card-text">{{product.promo_id}} {{product.region}} {{product.time_id}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Customer Permissions</h5>
          <div *ngxPermissionsOnly="['CUSTOMER']">
            <div *ngFor="let product of products">
              <p class="card-text">{{product.promo_id}} {{product.region}} {{product.time_id}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Except Customer Permissions</h5>
          <div *ngxPermissionsExcept="['CUSTOMER']">
            <div *ngFor="let product of products">
              <p class="card-text">{{product.promo_id}} {{product.region}} {{product.time_id}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Except ADMIN Permissions</h5>
          <div *ngxPermissionsExcept="['ADMIN']">
            <div *ngFor="let product of products">
              <p class="card-text">{{product.promo_id}} {{product.region}} {{product.time_id}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Without Permission</h5>
          <div>
            <div *ngFor="let product of products">
              <p class="card-text">{{product.promo_id}} {{product.region}} {{product.time_id}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">With GUEST, CUSTOMER Permission</h5>
          <div *ngxPermissionsOnly="['GUEST', 'CUSTOMER']">
            <div *ngFor="let product of products">
              <p class="card-text">{{product.promo_id}} {{product.region}} {{product.time_id}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

